/*--- FONTE ---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*--- VARIÁVEIS CSS ---*/
:root {
    /*--- CORES ---*/
    --cor-titulo: hsl(0,0%,20%);
    --cor-titulo-dark: hsl(0,0%,0%);
    --cor-texto: hsl(0,0%,46%);
    --cor-body: hsl(0,0%,98%);
    --cor-vermelho-1: hsl(0, 100%, 72%);
    --cor-vermelho-2: hsl(0, 54%, 58%);
    --cor-vermelho-3: hsl(0, 43%, 51%);
    --cor-container: hsl(0,0%,100%);
    /*--- TAMANHOS ---*/
    --ff: 'Poppins', sans-serif;
    --header-height: 3rem;
    --fs-h1: 2.25rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-g: 3.5rem;
    --fs-m: 1rem;
    --fs-p: .875rem;
    --fs-pp: .813rem;
    --fs-t: .625rem;
    --f-n: 400;
    --f-m: 500;
    --f-sb: 600;
    /*--- SOMBREAMENTO ---*/
    --sombra-1: -4px 8px 24px   hsla(0, 0%, 0%, 0.25);
    --sombra-2: 0 16px 30px     hsla(0, 0%, 0%, 0.25);
    --sombra-3: 0 16px 40px     hsla(0, 0%, 0%, 0.25);
    --sombra-4: 0 25px 50px     hsla(0, 0%, 0%, 0.15);
    --sombra-5: 0 24px 80px     hsla(0, 0%, 0%, 0.25);    
    /*--- TRANSIÇÃO ---*/
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
    /*--- MARGENS BOTTOM ---*/
    --mb-1: .25rem;
    --mb-2: .5rem;
    --mb-3: .75rem;
    --mb-4: 1rem;
    --mb-5: 1.5rem;
    --mb-6: 2rem;
    --mb-7: 2.5rem;
    --mb-8: 3rem;
    /*--- Z-INDEX ---*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*--- TIPOGRAFIA RESPONSIVA ---*/
@media screen and (max-width: 992px){
    :root{
        --fs-h1: 1.5rem;
        --fs-h2: 1.25rem;
        --fs-h3: 1rem;
        --fs-g: 2.75rem;
        --fs-m: .938rem;
        --fs-p: .813rem;
        --fs-pp: .75rem;
    }
}

/*--- BASE DO SITE ---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,botao,input,textarea{
    font-family: var(--ff);
    font-size: var(--fs-m);
}

body{
    background-color: var(--cor-body);
    color: var(--cor-texto);
}

h1,h2,h3{
    color: var(--cor-titulo);
    font-weight: var(--f-sb);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

botao{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*--- VARAIÁVEIS REUTILIZÁVEIS ---*/
.section{
    padding: 6rem 0 2rem;
}

.sectionTitulo{
    font-size: var(--fs-h1);
    color: var(--cor-titulo);
}

.sectionSubtitulo{
    display: block;
    font-size: var(--fs-p);
    margin-bottom: 4rem;
}

.sectionTitulo,
.sectionSubtitulo{
    text-align: center;
}

/*--- LAYOUT ---*/
.container{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/*--- BOTÃO ---*/
.botao{
    display: inline-block;
    background-color: var(--cor-titulo);
    color: var(--cor-container);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--f-m);
}

.botao:hover{
    background-color: var(--cor-titulo-dark);
}

.botaoIcone{
    margin-left: var(--mb-2);
}

.botaoFlex{
    display: inline-flex;
    align-items: center;
}

/*--- SCROLLBAR ---*/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--cor-body);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-titulo);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-titulo-dark);
}

/*--- HEADER ---*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--cor-body);
}

.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.navLogo{
    font-size: 1.2rem;
    color: var(--cor-titulo);
    font-weight: var(--f-sb);
}

.navToggle{
    color: var(--cor-titulo);
    font-weight: var(--f-m);
}

.navLista{
    display: flex;
    column-gap: 2rem;
}

.navLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fs-p);
    color: var(--cor-titulo);
    font-weight: var(--f-m);
    transition: .3s;
}

.navIcone,
.navClose,
.navToggle{
    display: none;
}

.navLink,
.navLink:hover{
    color: var(--cor-titulo-dark);
}

.scrollHeader{
    box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
}

/*--- HOME ---*/
.homeContainer{
    row-gap: 7rem;
}

.homeConteudo{
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.homeSocial{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.homeSocialIcone{
    background-color: var(--cor-titulo);
    color: var(--cor-container);
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .5rem;
    display: inline-flex;
}

.homeBotaoIcone{
    font-size: 1.5rem;
    margin-left: .5rem;
    transform: rotate(-40deg);
}

.homeSocialIcone:hover{
    background-color: var(--cor-titulo-dark);
}

.homeTitulo{
    font-size: 2.7rem;
    margin-bottom: var(--mb-1);
}

.homeSubtitulo{
    position: relative;
    font-size: var(--fs-h3);
    padding-left: 5.4rem;
    font-weight: var(--f-n);
    margin-bottom: var(--mb-4);
}

.homeSubtitulo::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--cor-texto);
    left: 0;
    top: 1rem;
}

.homeDescricao{
    max-width: 400px;
    margin-bottom: var(--mb-8);
}

.homeImg{
    background: url(assets/img/Foto1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 350px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.homeScroll{
    margin-left: 9.25rem;
}

.wheel{
    animation: scroll 2s ease infinite;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(3.75rem);
    }
}

.homeScrollNome{
    color: var(--cor-titulo);
    font-weight: var(--f-m);
    margin-right: var(--mb-1);
    margin-left: 2px;
}

.homeScrollArrow{
    font-size: 1.25rem;
    color: var(--cor-titulo);
}

/*--- SOBRE ---*/
.sobreContainer{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.sobreImg{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.sobreInfo{
    grid-template-columns: repeat(2, 200px);
    gap: .5rem;
    margin-bottom: var(--mb-6);
}

.sobreBox{
    background-color: var(--cor-container);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: .75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.sobreIcone{
    font-size: 1.5rem;
    color: var(--cor-titulo);
    margin-bottom: var(--mb-1);
}

.sobreBotaoIcone{
    font-size: 1.6rem;
    margin-left: .5rem;
}

.sobreTitulo{
    font-size: var(--fs-p);
    font-weight: var(--f-m);
}

.sobreSubtitulo{
    font-size: var(--fs-t);
}

.sobreDescricao{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-7);
}

/*--- HABILIDADES ---*/
.habilidadesContainer{
    grid-template-columns: repeat(1, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.habilidadesConteudo{
    background-color: var(--cor-container);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.habilidadesTitulo{
    font-size: var(--fs-m);
    font-weight: var(--f-m);
    text-align: center;
    margin-bottom: var(--mb-5);
}

.habilidadesBox{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.habilidadesGrupo{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.habilidadesData{
    display: flex;
    column-gap: .5rem;
}

.habilidades .habilidadesIcone{
    font-size: 1.8rem;
    color: var(--cor-titulo);
}

.habilidadesNome{
    font-size: var(--fs-m);
    font-weight: var(--f-m);
    line-height: 18px;
}

.habilidadesLevel{
    font-size: var(--fs-t);
}

/*--- EXPERIÊNCIA ---*/
.qualificacoesContainer{
    max-width: 768px;
}

.qualificacoesTabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-6);
}

.qualificacoesBotao{
    font-size: var(--fs-h3);
    font-weight: var(--f-m);
    color: var(--cor-titulo);
    margin: 0 var(--mb-4);
    cursor: pointer;
}

.qualificacoesBotao:hover{
    color: var(--cor-titulo-dark);
}

.qualificacoesIcone{
    font-size: 1.8rem;
    margin-right: var(--mb-1);
}

.qualificacoesActive{
    color: var(--cor-titulo-dark);
}

.qualificacoesSection{
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
}

.qualificacoesContentActive{
    display: block;
}

.qualificacoesData{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualificacoesTitulo{
    font-size: var(--fs-m);
    font-weight: var(--f-m);
}

.qualificacoesSubtitulo{
    display: inline-block;
    font-size: var(--fs-p);
    margin-bottom: var(--mb-4);
}

.qualificacoesCalendario{
    font-size: var(--fs-p);
}

.qualificacoesRounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--cor-texto);
    border-radius: 50%;
}

.qualificacoesLine{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--cor-texto);
    transform: translate(6px, -7px);
}

/*--- PORTFOLIO ---*/
.portfolioContainer{
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
}

.portfolioCard{
    background-color: var(--cor-container);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}

.portfolioImg{
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-4);
}

.portfolioTitulo{
    font-size: var(--fs-m);
    font-weight: var(--f-m);
    margin-bottom: var(--mb-1);
}

.portfolioBotao{
    color: var(--cor-texto);
    font-size: var(--fs-p);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    margin-top: .5rem;
}

.portfolioBotaoIcone{
    font-size: 1rem;
    transition: .4s;
}

.portfolioBotao:hover .portfolioBotaoIcone{
    transform: translateX(.25rem);
}

.portfolioContainer{
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

/*--- CONTATO ---*/
.contatoContainer{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contatoTitulo{
    text-align: center;
    font-size: var(--fs-h3);
    font-weight: var(--f-m);
    margin-bottom: var(--mb-5);
}

.contatoInfo{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contatoCard{
    background-color: var(--cor-container);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contatoCardIcone{
    font-size: 2rem;
    color: var(--cor-titulo);
    margin-bottom: var(--mb-5);
}

.contatoCardTitulo,
.contatoCardData{
    font-size: var(--fs-p);
}

.contatoCardTitulo{
    font-weight: var(--f-m);
}

.contatoCardData{
    display: block;
    margin-bottom: var(--mb-3);
}

.contatoBotao{
    color: var(--cor-texto);
    font-size: var(--fs-p);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contatoBotaoIcone{
    font-size: 1rem;
    transition: 0.3s;
}

.contatoBotao:hover .contatoBotaoIcone{
    transform: translate(.25rem);
}

/*--- FOOTER ---*/
.footer{
    background-color: var(--cor-container);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.footerContainer{
    padding: 2rem 0 3.1rem;
}

.footerTitulo,
.footerLink{
    color: var(--cor-titulo);
}

.footerTitulo{
    text-align: center;
    margin-bottom: var(--mb-6);
}

.footerLink:hover{
    color: var(--cor-titulo-dark);
}

.footerSocial{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footerSocialLink{
    background-color: var(--cor-titulo);
    color: var(--cor-container);
    font-size: 1.125rem;
    padding: .4rem;
    border-radius: .5rem;
    display: inline-flex;
}

.footerSocialLink:hover{
    background-color: var(--cor-titulo-dark);
}

.footer-copy{
    display: block;
    margin-top: 3rem;
    color: var(--cor-titulo);
    text-align: center;
    font-size: var(--fs-pp);
}

/*--- SCROLLUP ---*/
.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--cor-titulo);
    opacity: 0.8;
    padding: .2rem .3rem;
    border-radius: .8rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup-icon{
    font-size: 2rem;
    color: var(--cor-container);
}

.scrollup:hover{
    background-color: var(--cor-titulo-dark);
}

.showScroll{
    bottom: 3rem;
}

/*--------- RESPONSIVIDADE ---------*/
/*--- DISPOSITIVOS GRANDES ---*/
@media screen and (max-width: 992px){
    .container{
        margin-left: var(--mb-5);
        margin-right: var(--mb-5);
    }

    .botao{
        padding: 1rem 1.75rem;
    }

    .botao-icon{
        width: 22px;
        height: 22px;
    }
    
    .homeContent{
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .homeSubtitle{
        padding-left: 3.75rem;
        margin-bottom: var(--mb-4);
    }

    .homeSubtitle::before{
        width: 42px;
        top: .8rem;
    }

    .homeDescription{
        max-width: initial;
        margin-bottom: var(--mb-7);
    }

    .homeImg{
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
    }

    .homeScroll{
        margin-left: 7.5rem;
    }

    .sobreContainer{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .sobreImg{
        width: 220px;
    }

    .sobreBox{
        padding: .75rem .5rem;
    }

    .sobreData{
        text-align: center;
    }

    .sobreInfo{
        justify-content: center;
    }

    .sobreDescricao{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

    .habilidadesContainer{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }

    .qualificacoesContainer{
        margin-left: auto;
        margin-right: auto;
    }

    .contatoContainer{
        column-gap: 3rem;
    }

    .footerSocialLink{
        padding: .25rem;
        border-radius: .25rem;
        font-size: 1rem;
    }

    .scrollup{
        right: 1.5rem;
        padding: .3rem .4rem;
    }

    .scrollup-icon{
        font-size: 1.5rem;
    }

    .portfolioContainer{
        gap: 1.25rem;
    }

    .portfolioCard{
        padding: 1rem;
    }

    .portfolioImg{
        margin-bottom: .75rem;
    }

    .portfolioTitulo{
        margin-bottom: .25rem;
    }
}

/*--- DISPOSITIVOS MÉDIOS ---*/
@media screen and (max-width: 768px){
    body{
        margin: 0 0 var(--header-height) 0;
    }
    
    .section{
        padding: 2rem 0 4rem;
    }

    .sectionSubtitulo{
        margin-bottom: var(--mb-8);
    }

    .header{
        top: initial;
        bottom: 0;
    }

    .nav{
        height: var(--header-height);
    }

    .navMenu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--cor-body);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .navShow{
        bottom: 0;
    }

    .navLista{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .navIcone{
        font-size: 1.6rem;
    }

    .navClose{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--cor-titulo);
    }

    .navClose:hover{
        color: var(--cor-titulo-dark);
    }

    .navToggle{
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navIcone,.navClose,.navToggle{
        display: block;
    }

    .homeContent{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .homeImg{
        order: initial;
        justify-self: initial;
    }

    .homeData{
        grid-column: 1/3;
    }

    .homeImg{
        box-shadow: inset 0 0 0 6px rgb(255 255 255/30%);
        width: 200px;
        height: 250px;
    }

    .homeScroll{
        display: none;
    }

    .qualificacoesContainer{
        margin-left: var(--mb-5);
        margin-right: var(--mb-5);
    }

    .contatoContainer{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contatoInfo{
        justify-content: center;
    }

    .showScroll{
        bottom: 4rem;
    }

    .portfolioContainer{
        grid-template-columns: max-content;
    }
}

@media screen and (max-width: 576px){
    .sobreInfo{
        grid-template-columns: repeat(1, 1fr);
    }

    .sobreDescricao{
        padding: 0;
    }

    .habilidadesContainer{
        grid-template-columns: 1fr;
    }

    .habilidadesConteudo{
        padding: 1.5rem;
    }

    .qualificacoesSection{
        grid-template-columns: initial;
    }

    .qualificacoesBotao{
        margin: 0 var(--mb-1);
    }

    .contatoInfo{
        grid-template-columns: 1fr;
    }

    .portfolioContainer{
        grid-template-columns: 1fr;
    }

    .portfolioImg{
        width: 100%;
    }
}

/*--- DISPOSITIVOS PEQUENOS ---*/
@media screen and (max-width: 350px){
    :root{
        --fs-g: 2.25rem;
    }

    .container{
        margin-left: var(--mb-4);
        margin-right: var(--mb-4);
    }

    .navMenu{
        padding: 2rem .25rem 4rem;
    }

    .navLista{
        column-gap: 0;
    }

    .homeImg{
        width: 180px;
        height: 180px;
    }

    .sobreInfo{
        grid-template-columns: repeat(2, 1fr);
    }

    .habilidadesBox{
        column-gap: 1.25rem;
    }

    .habilidadesNome{
        font-size: var(--fs-p);
    }


    .qualificacoesData{
        gap: .5rem;
    }

    .scrollup{
        right: 1rem;
    }
}